h1{
    border:3px solid palevioletred;
    border-radius: 15px;
}
p{
    
    border-bottom: 30px solid green;
    border-top: 30px solid yellow;
    border-left:30px solid orange;
    border-right:30px solid red;
    border-radius: 20px;
}